###################################
#   Caselights
###################################

[gcode_macro _CASELIGHT_ON]
description: Helper: Light On
gcode:
    SET_PIN PIN=caselight VALUE=1.0
    {action_respond_info("Caselights On")}
    
[gcode_macro _CASELIGHT_OFF]
description: Helper: Light Off
gcode:
  SET_PIN PIN=caselight VALUE=0.0
  {action_respond_info("Caselights Off")}

[gcode_macro CASE_LIGHTS]
description: Toggle Light
gcode: 
    {% if printer['output_pin caselight'].value == 0 %} 
        _CASELIGHT_ON
    {% else %} 
        _CASELIGHT_OFF 
    {% endif %}